body { 
    color: #edf5e1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-image: url('./assets/images/background-image-2.jpg');
    background-repeat: no-repeat;
    background-position: stretch;
    background-size: cover;   
    width: 100vw;
    height: 100vh;
}

.main-heading {
    text-align: center;
}


h1 {
    margin-top: 0;
    text-transform: uppercase;
}

ul {
    width: 400px;
    list-style: none;
    background: #8EE4AF;
    margin: 0;
    padding: 0;
}

li {
    margin: 10px 5px 20px 5px;
    padding: 0;
}

.popular-shows-table {
    width: 50%;
}